.photo {
  height: auto;
  width: 40%;
}

/* body */
html {
  height: 100%;
}

body {
    background:black;
    color: white;
    background-repeat: no-repeat;
    font-family: ariel;
    background-size: cover;
    height: 80%;
    width: auto;

}

/* .backgroundImage {
      height: 100;
      background-color: blue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     */

.sign-in-page{
  background-image: url("./Assets/projector-1.jpg");
  background-repeat: no-repeat;
  font-family: 'Detail_Font';
      background-size: cover;
      margin: auto;
      width: 50%;
      border: 3px solid rgb(20, 25, 173);
      padding: 10px;
     }

.MovieTitle {
     font-family: 'Detail_Font';
     font-size: 60px;
     color: rgba(228, 24, 78, 0.858);
    }

    .header-style {
      font-family: 'Detail_Font';
     font-size: 40px;
     color: rgba(228, 24, 78, 0.858);
    }
    

.card-body1 {
  font-family: 'Detail_Font';
  font-size: 20px;
 color:rgba(228, 24, 78, 0.858);
}

.movie-detail-image {
  height: 70%;
  width: auto;
  margin-top: 5%;
  margin-left: 1;
}

@font-face {
  font-family: 'Detail_Font';
  src: url('../src/Fonts/IndubitablyNF.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}



