.photo {
  height: 200px;
  width: 200px;
}

/* body */
html {
  height: 100%;
}

body {
    /* background: rgb(3, 3, 19);
    color: white; */
    background-repeat: no-repeat;
    font-family: ariel;
    background-size: cover;
    height: 80%;
    width: auto;
}

/* .backgroundImage {
      height: 100;
      background-color: blue;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     */


.card-body1 {
 color: white;
}

.movie-detail-image {
  height: 70%;
  width: auto;
  margin-top: 5%;
  margin-left: 1;
}